.message-box{
    text-align: center;
}
.backdrop {
    background: rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

.dialog {
    width: 60%;
    height: 50%;
    background: #fff;
    border-radius: 2rem;
    border: 0.1em solid seagreen;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    max-width: 100%;
    &.large {
        width: 1024px;
        max-width: 90%;
    }
}
.close {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    background: none;
    border: 0;
    padding: 0.5rem;
    margin: 0;
    cursor: pointer;
    border-radius: 1rem;
    display: flex;

    &:hover {
        background: rgba(0, 0, 0, 0.2) !important;
    }
}
.dialog p{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1rem;
    color:#3c3c3c;
}
