.profile{
    position: relative;
    display: flex;
    width: 100%;
    height:4rem;
    background: #A18D6D;
    border-bottom:0.1rem solid #3c3c3c;
}
.profile .profile-icon{
    width: clamp(32px, 90%, 48px);
    height: clamp(32px, 90%, 48px);
    aspect-ratio: 1;
    position: absolute;
    right: 0;
    margin-top: 0.5rem;
    margin-right: 1rem;
    color: #E1D0B3;
    box-shadow:2px 2px 2px 1px rgb(0 0 0 / 20%);
    border-radius: 1rem;
}
.profile .profile-icon:hover{
    color: #FFF1CB;
    background: #C4A484;
    transform: scale(1.1);
}
.profile-settings{

}