.home-container{
    display: block;
}
/*=============
SETTINGS-WEATHER-STYLING
=========================*/
.settings-weather-wrapper{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 2rem;
    padding: 2rem;
    flex-wrap: wrap;
    margin: 3% 7% 0;
}
/*=============
Settings
=========================*/
.settings-wrapper{
    margin: auto auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1rem;
    flex: 1;
    border: solid 2px #501561;
    border-radius: 1rem;
    box-sizing: border-box;
    min-width: clamp(250px, 50%, 400px);
    background: transparent;
}
.settings {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.5rem;
    padding: 0.5rem;
    border-radius: 10px;
    flex: 1 1 clamp(160px, 25%, 200px);
    box-sizing: border-box;
    background: #FFF5D7;;
}
.setting{
    border: 2px dashed rgba(255, 1, 1, 0.44);
    padding: 0.5rem 1rem;
    border-radius: 6px;
    flex: 1 1 clamp(48px, 40%, 96px);
    text-align: center;
}
.setting:hover{
    border: 2px solid rgba(255, 1, 1, 0.44);
    transform: scale(1.03);
    box-shadow: 0 0 20px rgba(0,0,0,.2);
    cursor: pointer;
}
.settings-icon{
    width: clamp(16px, 50%, 32px);
    height: clamp(16px, 50%, 32px);
    aspect-ratio: 1;
    margin-top: 0.5rem;
}

/*=============
Rooms
=========================*/
.home-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem 9%;
    color: #333;
    text-align: center;
}
.home-wrapper .heading{
    font-size: 2.5em;
    margin-bottom: 1rem;
    color:#E1D0B3;
}

.home-wrapper .room-wrapper{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}
